[mol_icon_demo_title] {
	flex-grow: 0;
}

[mol_icon_demo_tools] {
	flex-grow: 1;
}

[mol_icon_demo_icons_filter] {
	align-self: stretch;
	flex: 1;
}

[mol_icon_demo_output] {
	padding: var(--mol_gap_block);
}

[mol_icon_demo_row_icon] {
	width: 24px;
	height: 24px;
}

:where([mol_icon_demo_row]:hover) [mol_icon_demo_row_icon] {
	transform: scale(2);
}

[mol_icon_demo_row_title] {
	text-shadow: 0 0 black;
}

[mol_icon_demo_row_descr] {
	color: var(--mol_theme_shade);
}
